.myblog-header {
    text-align: center;
    margin-bottom: 10rem;
}
.myblog-header span {
    font-size: 2.1rem;
}
.myblog-header h1 {
    margin-top: 10px;
    font-size: 7rem;
}

.myblog-nav {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 3.5rem;
    border-left: none;
    border-right: none;
}

.myblog-nav div {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
    width: 12rem;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.myblog-nav div:first-child {
    border-left: none;
}

.myblog-main {
    display: flex;
    justify-content: center;
}
  
.myblog-list {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 카드 사이의 간격 */
}
  
.myblog-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 아이템 간격 */
}
  
.myblog-list li {
    width: calc(50% - 13rem); 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    background-color: white; 
    border: 1px solid black; 
    overflow: hidden; 
}
  
.myblog-image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd; 
}
  
.myblog-image-container img {
    width: 100%;
    height: auto; 
}
  
.myblog-text-container {
    text-align: center;
    padding: 20px;
}
  
.myblog-list h1 {
    font-size: 1.5em;
    margin: 10px 0;
}
  
.myblog-list p {
    font-size: 1em;
    color: #555;
}

.myblog-footer {
    margin-top: 35rem;
    display: flex;
    height: 10rem;
    justify-content: center;
}