
.myblog-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.myblog-list {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 카드 사이의 간격 */
}
  
.myblog-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 아이템 간격 */
}
  
.myblog-list li {
    width: calc(50% - 13rem); 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    background-color: white; 
    border: 1px solid black; 
    overflow: hidden; 
}
  
.myblog-image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd; 
}
  
.myblog-image-container img {
    width: 100%;
    height: auto; 
}
  
.myblog-text-container {
    text-align: center;
    padding: 20px;
}
  
.myblog-list h1 {
    font-size: 1.5em;
    margin: 10px 0;
}
  
.myblog-list p {
    font-size: 1em;
    color: #555;
}

.myblog-post-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    width:30%;
    margin-right: 10rem;
}
